.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.weather-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
